.footer {
  border-top: 2px solid #eee;
  padding: 2rem 6rem;
  width: 100%;
  background-color: #e67e22;
  font-size: 2rem;

  .logo {
    width: 15rem;
  }

  .logo-col {
    text-align: center;
  }

  .contact-col {
    align-self: self-end;

    .address {
      text-align: center;
      font-style: normal;
    }
  }
}
