<footer class="footer">
  <div class="grid grid-col-2">
    <div class="logo-col">
      <img class="logo" src="../../assets/Angular.png" alt="Angular Logo" />
      <p class="name">Lazaros Poumpouridis</p>
      <p class="job-title">Front-End Angular Developer</p>
    </div>
    <div class="contact-col">
      <address class="address">
        <img class="logo" src="../../assets/Angular.png" alt="Angular Logo" />
        <p>Melissochori Thessalonikis T.K. 57018</p>
        <a href="mailto:Email: psyzed66@gmail.com">Email: psyzed66@gmail.com</a>
      </address>
    </div>
  </div>
</footer>
