.container {
  background-color: #fdf2e9;

  .search-form {
    padding: 2rem;
  }

  .Loader,
  .error-msg {
    text-align: center;
    height: 64vh;
    p {
      font-size: 2rem;
    }
  }

  .todo-list {
    height: 64vh;
    overflow-y: scroll;
    text-align: center;
    padding: 5rem;
    list-style: square;

    .todo-item {
      max-width: 45%;
      margin: 1rem auto;
      padding: 0.6rem 0.6rem;
      justify-content: space-between;
      font-size: 1.5rem;
      border: 1px solid #777;
      border-radius: 9px;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
      background-color: #ddd;

      .status {
        font-weight: 600;
      }

      .completed {
        color: green;
      }

      .not-completed {
        color: red;
      }
    }
  }
}
