<div class="container">
  <div class="search-form">
    <scx-search (search)="filter($event)"></scx-search>
  </div>
  <div
    *ngIf="isLoading$ | async"
    class="Loader flex justify-center align-center"
  >
    <p>Loading Todos...</p>
  </div>
  <div
    *ngIf="hasError$ | async"
    class="error-msg flex justify-center align-center"
  >
    <p>Something went wrong - Please refresh the page</p>
  </div>

  <div
    *ngIf="!(hasError$ | async) && noTodosFound"
    class="error-msg flex justify-center align-center"
  >
    <p>No todos found for the given search term.</p>
  </div>
  <ul class="todo-list" *ngIf="todos.length > 0">
    <li class="todo-item flex" *ngFor="let todo of todos; let i = index">
      <span>{{ i + 1 }}.</span>
      <span class="title">{{ todo.title }}</span>
      <span
        class="status"
        [ngClass]="{
          completed: todo.completed,
          'not-completed': !todo.completed
        }"
        >{{ todo.completed ? "Completed" : "Not Completed" }}</span
      >
    </li>
  </ul>
</div>
