* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.margin-0 {
  margin: 0;
}

.mg-bottom-small {
  margin-bottom: 2rem;
}

.grid {
  display: grid;
}

.grid-col-2 {
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
