* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-weight: 400;
  color: #555;
  overflow: hidden;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.grid {
  display: grid;
}

.grid-col-2 {
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
